.container {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (max-width: 600px) {
    .container {
        padding: 0rem 1rem;
    }
}
@media (max-width: 900px) {
    .container {
        padding: 1rem 3rem;
    }
}
